td {border:1px solid #000; background-color:#fff; padding:1em; width:25%}

#editorb {padding:0px;
	  margin:0px; 
	  height:75%; 
	  width:72.5%;
	  background-color:#fff; 
}

#stacktraceb {padding:0px;
	      margin:0px; 
	      height:97.5%; 
	      width:25%;
	      float:right; 
	      background-color:#fff;
}

#outputb {padding:0px;
	  margin:0px; 
	  height:20%; 
	  width:72.5%;
	  background-color:#fff;
}

#spacer {height:2.5%; 
	 padding:0px;
	 margin:0px;
	text-align:center;}

#code {height:100%;}

html, body { height:100%;
       background-color:#fb3;
       font-family: monospace;
       font-size: 10pt;
       line-height: normal;
	   padding:0px;
	   margin:0px;}

.CodeMirror-line-numbers { 
    background-color: #EEE;
    color: #AAA;
    font-family: monospace;
    font-size: 10pt;
    line-height: normal;
    padding-right: 0.3em;
    padding-top: 0em;
    text-align: right;
    width: 2.2em; 
}

p {padding:.5em;}

#live {border:0px solid #fff; background-color:none; width:50%; font-family: monospace;    font-size: 10pt;}