td {border:1px solid #000; background-color:#fff; padding:1em}
#editor {padding:0px;}

tr { height:25%}
table { width:100%; height:600px;}
body { height:100%;
       background-color:#fb3;
       font-family: monospace;
       font-size: 10pt;
       line-height: normal;}
.CodeMirror-line-numbers { 
    background-color: #EEE;
    color: #AAA;
    font-family: monospace;
    font-size: 10pt;
    line-height: normal;
    padding-right: 0.3em;
    padding-top: 0em;
    text-align: right;
    width: 2.2em; 
}

